<div class="d-flex justify-content-center align-items-center">
  <h1>Welcome to Scheduled Tweets</h1>
</div>

<% if Current.user %>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <%= button_to "Connect Twitter", "/auth/twitter", class: "btn btn-primary", method: :post %>
  </div>
<% end %>