<div class="d-flex justify-content-center align-items-center mt-5">
  <h1>Sign In</h1>
</div>

<div class="form-wrapper shadow">
  <%= form_with url: sign_in_path do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", placeholder: "steve@apple.com" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
      <%= link_to "Forgot Your Password?", password_reset_path %>
    </div>

    <%= f.submit "Log In", class: "btn btn-primary" %>
  <% end %>
</div>