<%= form_with model: tweet do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :twitter_account_id %>
    <%= form.collection_select :twitter_account_id, Current.user.twitter_accounts, :id, :username, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :published_at %>
    <div class="form-control">
      <%= form.datetime_select :published_at %>
    </div>
  </div>

  <%= form.button "Schedule a Tweet", class: "btn btn-primary" %>
  <% if form.object.persisted? %>
    <%= link_to "Delete", form.object, method: :delete, data: { confirm: "Are You Sure?" }, class: "btn btn-outline-danger" %>
  <% end %>
<% end %>