<div class="tweet mb-3 border border-1 rounded p-3 col-sm-6 ms-auto me-auto">
  <div class="mb-2">
    <%= tweet.body %>
  </div>
  <div class="d-flex align-items-center mb-3">
    <%= image_tag tweet.twitter_account.image, class: "rounded-circle me-3" %>
    <%= link_to "@#{tweet.twitter_account.username}", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank %>
  </div>

  <% if tweet.published? %>
    <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}" %>
  <% else %>
    <p><strong>Scheduled for:</strong> <%= l tweet.published_at, format: :long %></p>
    <%= link_to "Edit", edit_tweet_path(tweet) %>
  <% end %>
</div>