<header class="d-flex justify-content-between align-items-center mb-5">
  <h1>Tweets</h1>

  <% if Current.user.twitter_accounts.any? %>
    <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn btn-primary" %>
  <% end %>
</header>

<% if Current.user.twitter_accounts.none? %>
  <%= link_to "Connect Your Twitter Account", "auth/twitter", method: :post, class: "btn btn-primary" %>
<% end %>

<div id="tweets-list">
  <%= render @tweets %>
</div>