<header class="d-flex justify-content-between align-items-center mb-5 pt-5 pb-5">
  <h1>Twitter Accounts</h1>
  <%= link_to "Connect Twitter Account", "auth/twitter", class: "btn btn-primary", method: :post %>
</header>

<% @twitter_accounts.each do |twitter_account| %>
  <div class="d-flex align-items-center mb-3">
    <%= image_tag twitter_account.image, class: "rounded-circle me-3" %>
    <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: :_blank %>
  </div>
  <%= button_to "Disconnect", twitter_account, method: :delete, data: { confirm: "Are You Sure?" }, class: "btn btn-danger" %>
<% end %>