<div class="d-flex justify-content-center align-items-center mt-5">
  <h1>Sign Up</h1>
</div>

<div class="form-wrapper shadow">
  <%= form_with model: @user, url: sign_up_path do |form| %>
    <%= render "shared/form_errors", form: form %>
    <div class="mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, class: "form-control", placeholder: "steve@apple.com" %>
    </div>

    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    
    <div class="mb-3">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <%= form.submit "Get Started", class: "btn btn-primary" %>
  <% end %>
</div>