<div class="d-flex justify-content-center align-items-center mt-5">
  <h1>Edit Password</h1>
</div>

<div class="form-wrapper shadow">
  <%= form_with model: Current.user, url: edit_password_path do |f| %>

  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    
    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <%= f.submit "Get Started", class: "btn btn-primary" %>
  <% end %>
</div>