<div class="d-flex justify-content-center align-items-center mt-5">
  <h1>Reset Your Password</h1>
</div>

<div class="form-wrapper shadow">
  <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |f| %>
    <% if f.object.errors.any? %>
      <div class="alert alert-danger">
        <% f.object.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    
    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <%= f.submit "Reset Password", class: "btn btn-primary" %>
  <% end %>
</div>