<div class="d-flex justify-content-center align-items-center mt-5">
  <h1>Forgot Your Password?</h1>
</div>

<div class="form-wrapper shadow">
  <%= form_with url: password_reset_path do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", placeholder: "steve@apple.com" %>
    </div>

    <%= f.submit "Reset Password", class: "btn btn-primary" %>
  <% end %>
</div>