Hi <%= params[:user].email %>,

Someone requested to reset your password.

If this was you please click the link below. The link will automatically expire in 15 minutes.

<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>
