// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
}